/* .wy-nav-content {
    max-width: 75% !important;
} */
.wy-nav-content {
    max-width: none;
}

.wy-menu-vertical a {
    background-color: #0f0d2d;
    color: #fff;
}

.wy-menu-vertical li.toctree-l2 a {
    background-color: #0f0d2d;
    color: #fff;
}

.wy-menu-vertical li.toctree-l2.current li.toctree-l3 > a {
    background-color: #0f0d2d;
    color: #fff;
}

.wy-side-scroll {
    background-color: #0f0d2d;
}

.wy-nav-side {
    background-color: #0f0d2d;
}

.wy-side-nav-search {
    background-color: #0f0d2d;
}

.wy-menu-vertical li.toctree-l3.current li.toctree-l4 > a {
    background-color: #0f0d2d;
    color: #d9d9d9
}

.wy-menu-vertical li.toctree-l2.current li.toctree-l4 > a:hover {
    color: #fff
}

.wy-menu-vertical li.toctree-l3.current li.toctree-l4.current > a {
    background-color: #0f0d2d;
    color: #fff
}

.wy-menu-vertical li.toctree-l2.current li.toctree-l3 > a {
    background-color: #0f0d2d;
    color: #d9d9d9
}

.wy-menu-vertical li.toctree-l2.current li.toctree-l3.current > a {
    background-color: #0f0d2d;
    color: #fff
}

.wy-menu-vertical li.toctree-l2.current li.toctree-l3 > a:hover {
    color: #fff
}

.wy-menu-vertical li.current>a button.toctree-expand, .wy-menu-vertical li.on a button.toctree-expand {
    background-color: #0f0d2d;
    color: #d9d9d9
}

.wy-menu-vertical li.toctree-l2 a:hover button.toctree-expand, .wy-menu-vertical li.toctree-l3 a:hover button.toctree-expand, .wy-menu-vertical li.toctree-l4 a:hover button.toctree-expand, .wy-menu-vertical li.toctree-l5 a:hover button.toctree-expand, .wy-menu-vertical li.toctree-l6 a:hover button.toctree-expand, .wy-menu-vertical li.toctree-l7 a:hover button.toctree-expand, .wy-menu-vertical li.toctree-l8 a:hover button.toctree-expand, .wy-menu-vertical li.toctree-l9 a:hover button.toctree-expand, .wy-menu-vertical li.toctree-l10 a:hover button.toctree-expand {
    color: #fff;
}
