/* .wy-nav-content {
    max-width: 75% !important;
} */
.wy-nav-content {
    max-width: none;
}

.wy-menu-vertical a {
    background-color: #0f0d2d;
    color: #fff;
}

.wy-menu-vertical li.toctree-l2 a {
    background-color: #0f0d2d;
    color: #fff;
}

.wy-menu-vertical li.toctree-l2.current li.toctree-l3 > a {
    background-color: #0f0d2d;
    color: #fff;
}

.wy-side-scroll {
    background-color: #0f0d2d;
}

.wy-nav-side {
    background-color: #0f0d2d;
}

.wy-side-nav-search {
    background-color: #0f0d2d;
}